---
import { Image } from "astro:assets";
---

<div
  class="rubik_font text-white flex justify-start items-center p-5 flex-col mt-5"
  id="about_me_section"
>
  <div class="flex flex-col md:flex-row justify-center items-center">
    <div class="flex flex-col justify-center max-w-[800px]">
      <h2 class="font-bold text-4xl">
        Sobre mi<span class="text-primary-10 dark:text-primary-5">. </span>
      </h2>
      <p class="text-balance">
        Soy <span class="text-primary-10 dark:text-primary-5 font-bold"
          >Ariano Alban</span
        >, un <span class="text-primary-10 dark:text-primary-5 font-bold"
          >desarrollador Full Stack junior</span
        >
        apasionado por la tecnología y el aprendizaje continuo. Me especializo en
        la creación de
        <span class="text-primary-10 dark:text-primary-5 font-bold"
          >soluciones innovadoras</span
        > tanto en el frontend como en el backend, y disfruto explorando nuevas herramientas
        y tecnologías para optimizar cada proyecto. Además de mis habilidades técnicas,
        poseo sólidas habilidades blandas como <span
          class="text-primary-10 dark:text-primary-5 font-bold"
          >comunicación efectiva</span
        >,
        <span class="text-primary-10 dark:text-primary-5 font-bold"
          >trabajo en equipo</span
        >, y
        <span class="text-primary-10 dark:text-primary-5 font-bold"
          >resolución de problemas</span
        >, lo que me permite adaptarme y colaborar
        <span class="text-[#c47909] dark:text-[#fdb548] font-bold"
          >eficientemente en entornos</span
        >,
        <span class="text-[#c47909] dark:text-[#fdb548] font-bold"
          >orientados a resultados</span
        >.
      </p>
    </div>
    <Image
      height="240"
      width="240"
      src="/dev.webp"
      alt="dev"
      class="sm:size-80 size-60"
      loading="lazy"
      title="Ariano Alban Dev Icon"
    />
  </div>
</div>
