---

---

<div class="flex items-center justify-center gap-7 max-w-[550px]">
  <div
    class="p-5 rounded-xl border dark:border-primary-5 border-primary-10 w-full flex flex-col gap-3"
  >
    <!-- Título, fecha y descripción -->
    <div class="flex justify-between">
      <div class="flex w-full flex-col gap-1">
        <div class="h-6 w-32 bg-gray-200 dark:bg-gray-500 rounded"></div>
        <!-- Skeleton para el título -->
        <div class="h-4 w-20 bg-gray-200 dark:bg-gray-500 rounded mt-1"></div>
        <!-- Skeleton para la fecha -->
        <div class="h-4 w-52 bg-gray-200 dark:bg-gray-500 rounded mt-1"></div>
        <!-- Skeleton para la descripción -->
      </div>

      <!-- Iconos de tecnologías -->
      <div class="grid gap-4 grid-cols-2 w-48">
        <div class="h-11 w-11 bg-gray-200 dark:bg-gray-500 rounded-full"></div>
        <div class="h-11 w-11 bg-gray-200 dark:bg-gray-500 rounded-full"></div>
        <div class="h-11 w-11 bg-gray-200 dark:bg-gray-500 rounded-full"></div>
        <div class="h-11 w-11 bg-gray-200 dark:bg-gray-500 rounded-full"></div>
      </div>
    </div>

    <!-- Imagen del proyecto y enlaces -->
    <div class="flex items-center gap-5">
      <div class="w-96 h-48 bg-gray-200 dark:bg-gray-500 rounded-md"></div>
      <!-- Skeleton para la imagen del proyecto -->

      <!-- Iconos de enlaces -->
      <ul class="text-6xl flex flex-col items-center justify-center gap-5">
        <li class="size-16 bg-gray-200 dark:bg-gray-500 rounded-full"></li>
        <li class="size-16 bg-gray-200 dark:bg-gray-500 rounded-full"></li>
      </ul>
    </div>
  </div>
</div>
