---
import MdiGithub from "@assets/icons/MaterialDesignIcons/MdiGithub.astro";
import MdiLinkedin from "@assets/icons/MaterialDesignIcons/MdiLinkedin.astro";
import MdiInstagram from "@assets/icons/MaterialDesignIcons/MdiInstagram.astro";
import MdiX from "@assets/icons/MaterialDesignIcons/MdiX.astro";
import { Image } from "astro:assets";

//Script
const year = new Date().getFullYear();
---

<footer
  class="bg-primary-5/10 dark:bg-primary-10/10 border-t-2 borde px-3 py-5 text-white flex flex-col items-center justify-center"
>
  <div class="flex sm:flex-row flex-col items-center justify-around w-full">
    <Image
      width="96"
      height="96"
      src="/Logotipo.webp"
      alt="Logotipo"
      class="size-24 p-4"
      loading="lazy"
    />
    <div class="flex flex-col sm:flex-row gap-2 items-center">
      <h3 class="font-medium text-2xl">Contact me:</h3>
      <ul class="flex gap-5 text-5xl">
        <li>
          <a
            aria-label="My Github Page"
            href="https://github.com/Ariano2700"
            target="_blank"
          >
            <MdiGithub />
          </a>
        </li>
        <li>
          <a
            aria-label="My Linkedin Page"
            href="https://www.linkedin.com/in/ariano-selim-alban-gomez-073325332/"
            target="_blank"
          >
            <MdiLinkedin />
          </a>
        </li>
        <li>
          <a
            aria-label="My Instagram Page"
            href="https://www.instagram.com/elheisenberg27/"
            target="_blank"
          >
            <MdiInstagram />
          </a>
        </li>
        <li>
          <a
            aria-label="My X/Twitter Page"
            href="https://x.com/27AAriano"
            target="_blank"
          >
            <MdiX />
          </a>
        </li>
      </ul>
    </div>
  </div>
  <p class="text-sm text-gray-700 dark:text-gray-400 mt-5">
    &copy; {year} Ariano Alban. All rights reserved
  </p>
</footer>
<style>
  li {
    @apply transition-all duration-300 ease-out hover:text-primary-10 dark:hover:text-buttons-5 flex items-center justify-center;
  }
</style>
