---
import WavingHand from "@assets/icons/WavingHand.astro";
import PeruFlag from "@assets/icons/Flags/PeruFlag.astro";
import EnglangFlag from "@assets/icons/Flags/EnglangFlag.astro";
import MdiGithub from "@assets/icons/MaterialDesignIcons/MdiGithub.astro";
import MdiLinkedin from "@assets/icons/MaterialDesignIcons/MdiLinkedin.astro";
---

<section
  class="flex flex-col-reverse sm:flex-row items-center justify-center gap-7 h-screen"
  id="presentation_section"
>
  <div class="flex items-start justify-between flex-col gap-2 rubik_font">
    <h2
      class="text-start flex gap-2 items-center text-xl font-normal text-white"
    >
      Hi, i'm Ariano, nice to meet you
      <span>
        <WavingHand />
      </span>
    </h2>
    <h1 class="text-gradient text-3xl sm:text-4xl font-bold">
      Fullstack Developer
    </h1>
    <h2
      class="text-start flex gap-2 items-center text-xl font-normal text-white"
    >
      <i> Programming what is imagined </i>
    </h2>
    <div class="flex gap-5 items-center justify-around w-full">
      <div class="flex flex-col gap-5 items-center">
        <a
          href="https://firebasestorage.googleapis.com/v0/b/portfolio-ariano.appspot.com/o/curriculum-vitae%2FCurriculum%20Vitae%20-%20Ariano%20Alban%20-%20ES.pdf?alt=media&token=671e317c-6a51-402d-bf40-339d20eb439d"
          target="_blank"
          class="rounded-md border border-buttons-5 hover:bg-primary-10 dark:hover:bg-primary-5 transition-all duration-300 ease-out flex items-center gap-2 text-white p-3 text-base"
          >Resume <PeruFlag />
        </a>
        <a
          href="https://firebasestorage.googleapis.com/v0/b/portfolio-ariano.appspot.com/o/curriculum-vitae%2FCurriculum%20Vitae%20-%20Ariano%20Alban%20-%20EN.pdf?alt=media&token=2d949360-3dba-4a9d-8230-c416cd935177"
          target="_blank"
          class="rounded-md border border-buttons-5 hover:bg-primary-10 dark:hover:bg-primary-5 transition-all duration-300 ease-out flex items-center gap-2 text-white p-3 text-base"
          >Resume <EnglangFlag />
        </a>
      </div>
      <ul class="flex gap-5 flex-col text-5xl text-white">
        <li>
          <a href="https://github.com/Ariano2700" target="_blank">
            <MdiGithub />
          </a>
        </li>
        <li>
          <a
            href="https://www.linkedin.com/in/ariano-selim-alban-gomez-073325332/"
            target="_blank"
          >
            <MdiLinkedin />
          </a>
        </li>
      </ul>
    </div>
  </div>
  <img
    src="/ProfileImage.png"
    alt="Profile Image - Ariano"
    class="rounded-full w-48 sm:w-64 mt-16 sm:mt-0"
  />
</section>
<style>
  .text-gradient {
    background: linear-gradient(270deg, #00d6fb, #087599);
    background-size: 300%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: gradient-animation 5s infinite linear alternate;
  }

  @keyframes gradient-animation {
    0% {
      background-position: 0%;
    }
    100% {
      background-position: 100%;
    }
  }
  li {
    @apply transition-all duration-300 ease-out hover:text-primary-10 dark:hover:text-buttons-5 cursor-pointer;
  }
</style>
