---
import Presentation from "@components/sections/Presentation.astro";
import AboutMe from "@components/sections/AboutMe.astro";
import Layout from "src/layouts/Layout.astro";
import Hobbies from "@components/sections/Hobbies.astro";
import ContactMe from "@components/sections/ContactMe.astro";
import ProjectsNew from "@components/sections/ProjectsNew.astro";
import Technologies from "@components/sections/Technologies.astro";
import Education from "@components/sections/Education.astro";
---

<Layout title="Portfolio | Ariano Alban">
  <div class="element">
    <Presentation />
  </div>
  <ProjectsNew />
  <div class="element">
    <AboutMe />
  </div>
  <div class="element">
    <Education />
  </div>
  <div class="element">
    <Technologies />
  </div>
  <div class="element">
    <Hobbies />
  </div>
  <div class="element">
    <ContactMe />
  </div>
</Layout>
<style is:global>
  .element {
    opacity: 0; /* Comienza invisible */
    transform: translateY(20px); /* Desplazado hacia abajo */
    transition:
      opacity 0.7s ease,
      transform 0.7s ease; /* Transiciones suaves */
  }

  /* Clase que se agrega cuando el elemento está visible */
  .element.visible {
    opacity: 1; /* Hacerse visible */
    transform: translateY(0); /* Volver a la posición original */
  }
</style>
<script>
  document.addEventListener("DOMContentLoaded", () => {
    const elements = document.querySelectorAll(".element");

    const observer = new IntersectionObserver((entries) => {
      entries.forEach((entry) => {
        if (entry.isIntersecting) {
          entry.target.classList.add("visible"); // Agregar clase cuando está en vista
        } else {
          entry.target.classList.remove("visible"); // Opcional: quitar clase cuando sale de vista
        }
      });
    });

    elements.forEach((element) => {
      observer.observe(element); // Observa cada elemento
    });
  });
</script>
