---
import ToggleLanguage from "@components/toggleComponents/ToggleLanguage.astro";

const pathname = Astro.url.pathname;
const isEnglish = pathname.startsWith("/en");

const navItems = isEnglish
  ? [
      { href: "#presentation_section", label: "Home" },
      { href: "#projects_section", label: "Projects" },
      { href: "#about_me_section", label: "About me" },
      { href: "#technologies_section", label: "Technologies" },
      { href: "#contact_section", label: "Contact" },
    ]
  : [
      { href: "#presentation_section", label: "Inicio" },
      { href: "#projects_section", label: "Proyectos" },
      { href: "#about_me_section", label: "Sobre mí" },
      { href: "#technologies_section", label: "Tecnologías" },
      { href: "#contact_section", label: "Contacto" },
    ];
---

<nav class="items-center gap-10 hidden md:flex">
  <div class="text-lg">
    <ul class="flex gap-5 items-center justify-center">
      {
        navItems.map((item) => (
          <li>
            <a href={item.href} aria-label={item.label} title={item.label}>
              {item.label}
            </a>
          </li>
        ))
      }
    </ul>
  </div>
  <ToggleLanguage />
</nav>
<style>
  li {
    @apply transition-all duration-300 ease-out hover:text-primary-10 dark:hover:text-buttons-5;
  }
</style>
