---
import PeruFlag from "@assets/icons/Flags/PeruFlag.astro";
import EnglangFlag from "@assets/icons/Flags/EnglangFlag.astro";
---

<div class="text-lg language-selector gap-2">
  <div
    class="flex flex-col items-center relative transition-all duration-300 cursor-pointer"
  >
    <button value="en" id="en_button" class="language_button">
      EN
      <EnglangFlag class="text-lg" />
    </button>
    <button value="es" id="es_button" class="language_button">
      ES
      <PeruFlag class="text-lg" />
    </button>
  </div>
</div>
<style>
  .language-selector {
    display: inline-flex;
    align-items: center;
    cursor: pointer;
  }

  .language_button {
    display: flex;
    gap: 0.5rem;
    align-items: center;
    justify-content: space-between;
    border: none;
    background: transparent;
    font-size: 1rem;
    cursor: pointer;
  }

  .hidden {
    display: none !important;
  }

  .rotate {
    transform: rotate(180deg);
  }
</style>
<script>
  document.addEventListener("DOMContentLoaded", () => {
    const en_button = document.getElementById("en_button");
    const es_button = document.getElementById("es_button");

    // Cambiar idioma y ocultar el botón seleccionado
    en_button?.addEventListener("click", (event) => {
      event.stopPropagation();
      setLanguage("es");
    });

    es_button?.addEventListener("click", (event) => {
      event.stopPropagation();
      setLanguage("en");
    });

    function setLanguage(language: string) {
      localStorage.setItem("language-page", language);
      en_button?.classList.toggle("hidden", language === "es");
      es_button?.classList.toggle("hidden", language === "en");
    }

    // Cargar idioma guardado y actualizar visualmente
    const savedLanguage = localStorage.getItem("language-page") || "en";
    setLanguage(savedLanguage);
  });
</script>
