---
import PeruFlag from "@assets/icons/Flags/PeruFlag.astro";
import EnglangFlag from "@assets/icons/Flags/EnglangFlag.astro";

const pathname = Astro.url.pathname;
const isEnglish = pathname.startsWith("/en");

// Calcula la ruta base sin /en
const basePath = isEnglish ? pathname.replace(/^\/en/, "") || "/" : pathname;
---

<div class="text-lg language-selector gap-2">
  <div
    class="flex flex-col items-center relative transition-all duration-300 cursor-pointer"
  >
    {
      isEnglish ? (
        <a href={basePath} class="language_button" title="English">
          EN
          <EnglangFlag class="text-lg" />
        </a>
      ) : (
        <a
          href={`/en${basePath === "/" ? "" : basePath}`}
          class="language_button"
          title="Español"
        >
          ES
          <PeruFlag class="text-lg" />
        </a>
      )
    }
  </div>
</div>
<style>
  .language-selector {
    display: inline-flex;
    align-items: center;
    cursor: pointer;
  }

  .language_button {
    display: flex;
    gap: 0.5rem;
    align-items: center;
    justify-content: space-between;
    border: none;
    background: transparent;
    font-size: 1rem;
    cursor: pointer;
    text-decoration: none;
    color: inherit;
  }
</style>
